.messages-list,
.messages-content {
    float: left;
    box-sizing: border-box;
}

.messages-main-container::after {
    content: "";
    display: table;
    clear: both;
}

.messages-list {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
    background-color: #11100E;
}

.messages-content {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
}

.search-convo {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.search-convo input {
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: "DN Mono", monospace;
}

.search-convo input:focus {
    outline: none;
}

.search-convo input::placeholder {
    color: rgb(255, 255, 255);
}

.conversation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.unread {
    position: relative;
}

.unread .unread-indicator {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #82B1FF;
    border-radius: 50%;
  }

.conversation-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.conversation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.conversation-info h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: white;
}

.conversation-info p {
    font-size: 12px;
    margin: 0;
    color: white;
}

.conversation-info p.timestamp {
    font-size: 10px;
    color: rgb(100, 100, 100);
}

.conversation:hover {
    background-color: #1A1A1A;
}

.unread-message p {
    color: #82B1FF;
    font-weight: 600;
}

.messages-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.message-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.message-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.message-header-info h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: white;
    margin-left: 10px;
}

.message-header-info p {
    font-size: 12px;
    margin: 0;
    color: white;
    margin-left: 10px;
}

.message-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.message-input input {
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: "DN Mono", monospace;
}

.message-input input:focus {
    outline: none;
}

.message-input input::placeholder {
    color: rgb(255, 255, 255);
}

.message-input button {
    background-color: #82B1FF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.conversations-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .conversations-content p {
    max-width: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #f0f0f0;
    word-wrap: break-word;
  }
  
  .conversations-content p:last-child {
    align-self: flex-end;
    background-color: #0084ff;
    color: white;
  }